


 .calendario{
 width:70%;
 height: 50%;
 background-color:white;
 border: 1px;
 }

 .td-cal{
 width:55px;
 height: 35px;
 background-color:white;
 }




	.imag {
		
		padding: 5px;
		border-radius: 10px;
		background: white;
	
	}

	
	